/* .App {
  text-align: center;
}


.camp-picture{
  height:350px;
  width:350px;
  object-fit: cover;
} */

.dancing-script-#target {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
#tablescroll{
  overflow-y: scroll;
  overflow-x: scroll;
  width: 100vw;
  max-width: 100%;
  height: auto;
}

@media (min-width: 350px) and (max-width: 409px) {
  #tablescroll {
    width: 430px;
    height: 400px;
  }
}

@media (min-width: 410px) and (max-width: 549px) {
  #tablescroll {
    width: 490px;
    height: 400px;
  }
}

@media (min-width: 550px) and (max-width: 649px) {
  #tablescroll {
    width: 690px;
    height: 450px;
  }
}

@media (min-width: 650px) and (max-width: 767px) {
  #tablescroll {
    width: 840px;
    height: 450px;
  }
}

@media (min-width: 768px) {
  #tablescroll {
    width: 100%; /* Full width on large screens */
    height: auto; /* Auto height to fit content */
  }
}


#stocktablescroll{
  overflow-y: scroll;
  overflow-x: scroll;
  width: 80vw;
  max-width: 100%;
  height: auto;
}
@media (min-width:768px){
  #stocktablescroll{
   
    width: 70vw;
    max-width: 100%;
    height: auto;
  }
}